<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cw.mapper.GoodsMapper">

    <select id="queryGoodsById" resultType="com.cw.entity.Goods">
        select * from Goods where id=#{id};
    </select>
</mapper>